.habitContent {
  width: 45%;
  height: 54px;
  border-radius: 20px;
  background: var(--color-primary);
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
  cursor: pointer;
  transition: all 0.2s;
}
.habitContent:active {
  transform: translateY(5px);
}
