.button {
  display: flex;
  width: 333px;
  height: 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 50px;

  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  transition: all 0.2s;
}
.button:active {
  transform: translateY(3px);
}

.primary {
  background-color: var(--color-primary);
}
.gray {
  background-color: var(--color-gray);
}
.start::before {
  content: "";
  display: inline-block;
  background-image: url(@/assets/icon_play.svg);
  background-repeat: no-repeat;
  width: 44px;
  height: 44px;
}
.stop::before {
  content: "";
  display: inline-block;
  background-image: url(@/assets/icon_stop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 44px;
}
.disabled {
  background-color: var(--color-gray);
  pointer-events: none;
}
@media (width <= 480px) {
  .button {
    width: 145px;
    height: 45px;
    font-size: 18px;
  }
  .start::before {
    content: "";
    display: inline-block;
    background-image: url(@/assets/icon_play.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }
  .stop::before {
    content: "";
    display: inline-block;
    background-image: url(@/assets/icon_stop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }
}
