.frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin: 0 auto;
  padding: 40px;
  width: 100%;
  max-width: 1200px;
  background: #fff;
  border-radius: 20px;
  transition: all 0.5s ease;
}
.narrow {
  max-width: 696px;
  padding: 24px;
}
@media (width <= 1024px) {
  .frame {
    padding: 24px;
  }
}
@media (width <= 480px) {
  .frame {
    padding: 16px;
  }
}
