.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 28px;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.studyName {
  margin: 0;
  text-align: center;
  font-size: 24px;
  font-weight: 800;
}

.closeButton {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-green);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.message {
  margin: 0;
  color: var(--color-gray);
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.inputWrap,
.buttonWrap {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.inputWrap > *,
.buttonWrap > * {
  width: 100%;
}

.toast {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;
  white-space: nowrap;
}

/* 모바일 */
@media (width <= 480px) {
  .content {
    gap: 14px;
  }

  .header {
    display: contents;
  }

  .studyName {
    order: 1;
    margin-bottom: 10px;
  }

  .message {
    order: 2;
    margin-bottom: 6px;
  }

  .form {
    order: 3;
  }

  .closeButton {
    order: 4;
    position: static;
    transform: none;
    align-self: center;
  }
}
