.container {
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding: 8px 12px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-black);
}
