.habitTable {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 100%;
  min-height: 520px;
  border: 1px solid var(--color-gray-light);
  border-radius: 20px;
  transition: all 0.5s ease;
}
.habitHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.yearMonth {
  font-size: 14px;
}
.habitTitle {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 800;
  color: var(--color-black);
}
.habitDate {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 4px 8px;
  border-radius: 50px;
}
.emptyState {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.rowWrapper {
  overflow-x: auto;
}
.row {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) repeat(7, minmax(64px, 1fr));
  min-width: fit-content;
  align-items: center;
  justify-items: center;
}
.cell.day {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-gray);
}

.habitName {
  width: 100%;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  color: var(--color-black);
}
.sticker {
  padding: 14px 20px;
}

@media (width <= 1024px) {
  .habitTable {
    min-height: 460px;
  }
}
@media (width <= 480px) {
  .habitTable {
    min-height: 240px;
  }
  .sticker {
    padding: 14px;
  }
}
